{% extends 'base.html.twig' %}

{% block title %}Des astuces aux quotidien pour vous {% endblock %}

{% block body %}

    {% include 'partials/menu.html.twig' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('../image/astuces.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Astuces</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('home') }}">Nos astuces <i class="ion-ios-arrow-forward"></i></a></span> <span>Courses <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
                    <h2 class="mb-4">Nos astuces</h2>
                    <p>Nous vous proposons quelque astuces pour amméliorer votre quotidien, ils sont gratuits, facile à mettre en place et aussi éfficaces dans la durée.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container-fluid px-4">
            <div class="row">
                {% for astuce in astuces %}
                    <div class="col-md-3 course ftco-animate">
                    <div class="img" style="background-image: url({{ vich_uploader_asset(astuce, 'imageFile') }});"></div>
                    <div class="text pt-4">
                        <h3><a href="#">{{ astuce.nom }}</a></h3>
                        <p> {{ astuce.action }}</p>
                        <p><a href="#" class="btn btn-primary">Voir plus</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <p>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {{ knp_pagination_render(astuces) }}
                        </ul>
                    </nav>
                </p>
            </div>
        </div>
    </section>


    {% include 'partials/footer.html.twig' %}

{% endblock %}
